
<% layout("/layouts/boilerplate") %>
 <link rel="stylesheet" href="/css/style.css">
<body>
<div class="row mt-3">
    <div class="col-8 offset-2">
     <h3>Edit your Listing</h3>
     <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
        <div class="invalid-feedback">
            Please enter a Title.
        </div>
        </div>

        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]"class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">
            Please write a short description.
        </div>
        </div>
        <div class="mb-3">
            Original Listing Image <br>
            <img src="<%= originalImageUrl %>"style="width: 200px; height: 150px; object-fit: cover;" />
        </div>
        <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input name="listing[image]" type="file"class="form-control image" required >
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" value="<%= listing.price%>"type="number"class="form-control" required min="1">
            <div class="invalid-feedback">
                Please enter a price.
            </div>
            </div>

            <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" value="<%= listing.country %>" type="text"class="form-control" required>
            <div class="invalid-feedback">
                Please enter a country name.
            </div>
            </div>
        </div>

        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" value="<%= listing.location %>"type="text"class="form-control" required>
        <div class="invalid-feedback">
            Please enter a location.
        </div>
        </div>
       
        <div class="mb-3">
            <label for="tag" class="form-label">Tag</label>
            <select class="form-select" name="listing[tag]" aria-label="Select Tag">
                <option value="" disabled selected><%= listing.tag %></option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Amazing Pools">Amazing Pools</option>
                <option value="Camping">Camping</option>
                <option value="Farms">Farms</option>
                <option value="Arctic">Arctic</option>
                <option value="None">None</option>
            </select>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
   </div>
  </div>
</body>